MONGODB_URI=mongodb://mongos:27017/
MONGODB_DB_NAME=posts_db

TEST_MONGODB_URI=mongodb://test_mongos:27017/
TEST_MONGODB_DB_NAME=test_posts_db

LOGGER_FILENAME=/opt/logs/posts-api-logs.json
LOGGER_MAXBYTES=15000000
LOGGER_BACKUP_COUNT=5
LOGGER_MOD=a
LOGGER_LOG_LEVEL=INFO
LOGGER_SENTRY_DSN=https://75be878ebe8232ad9ccb2340f9cb24c0@o4506989823262720.ingest.us.sentry.io/4506989826211840

AUTH_SECRET_KEY=something123456fromNozir
AUTH_JWT_ALGORITHM=HS256

HASHER_ALGORITHM=pbkdf2_sha256
HASHER_ROUNDS=302122

AUTH_API_HOST=auth_api
AUTH_API_PORT=9999

REDIS_HOST=redis
REDIS_PORT=6379

AUTH_POSTGRES_HOST=auth_postgres
AUTH_POSTGRES_PASSWORD=123qwe
AUTH_POSTGRES_USER=app
AUTH_POSTGRES_DB=auth_database
AUTH_POSTGRES_PORT=5432

JAEGER_HOST=auth_jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False

AUTH_GOOGLE_CLIENT_ID=560238270570-ii2itecbdi2n6f409bvi3sfqc46qglha.apps.googleusercontent.com
AUTH_GOOGLE_CLIENT_SECRET=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
AUTH_GOOGLE_BASE_URL='https://accounts.google.com/o/oauth2/v2/auth'
AUTH_GOOGLE_TOKEN_URL='https://www.googleapis.com/oauth2/v4/token'
AUTH_GOOGLE_USERINFO_URL='https://www.googleapis.com/oauth2/v1/userinfo'
AUTH_GOOGLE_REDIRECT_URL="http://127.0.0.1:8001/auth"

TEST_POSTGRES_HOST=test_postgres_db
TEST_POSTGRES_PASSWORD=123qwe
TEST_POSTGRES_USER=app
TEST_POSTGRES_DB=auth_db
TEST_POSTGRES_PORT=5432
TEST_REDIS_HOST=test_redis
TEST_REDIS_PORT=6379

JAEGER_HOST=jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False